{% extends './base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}تغییر رمز عبور{% endblock title %}

{% block content %}
<!-- Register -->
<div class="card">
    <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center text-center" style="display: block;">
            <!-- <a href="#" class="app-brand-link gap-2"> -->
            <span class="app-brand-logo demo">
                <img src="{% static 'img/login.png' %}" alt="reg-ang" style="max-width: 100%;">
            </span>
            <span class="app-brand-text demo h4 mb-0 fw-bold">سامانه درخواست کار <br/>کارخانه آسیا نگار گلسار</span>
            <!-- </a> -->
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{ message }}</div>
            {% else %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- /Logo -->

        <form id="formAuthentication" class="mb-3" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 mb-2">
                    <label class="form-label">رمز عبور قبلی*</label>
                    {{ form.old_password|as_crispy_field }}
                </div>
                <div class="col-12 mb-2">
                    <label class="form-label">رمز عبور جدید*</label>
                    {{ form.new_password1|as_crispy_field }}
                </div>
                <div class="col-12 mb-2">
                    <label class="form-label">تکرار رمز عبور جدید*</label>
                    {{ form.new_password2|as_crispy_field }}
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">تغییر رمز عبور</button>
            </div>
        </form>
    </div>
</div>
<!-- /Register -->
{% endblock content %}